<section id="about" class="section text-center">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-5 wow slideInDown" data-wow-delay="0.2s">
        <!--<img src="/assets/images/imac.png" style="max-width: 457px; width: 100%;" alt="iMac" />-->
        <div class="avatar-circle text-center">
          <img src="assets/images/karina.jpg" alt="{{ videomaker.first_name }}">
        </div>
      </div>
      <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
        <div class="spacer"></div>

        <h6 class="page-title colorfy no-margins">Produção Audiovisual / Editor</h6>
        <h2 class="page-title">{{ videomaker?.first_name }} <span class="text-thin">{{ videomaker?.last_name }}</span></h2>
        <p>Depois da formação em Turismo no ano de 2012, descobri a grande paixão pelo audiovisual. Do Turismo só restou a cobertura dos eventos relacionados a área.<br />
          Atuando na produção, edição e finalização de vídeos. Vinhetas, cobertura de evento, documentários, web séries, filmagem (DSLR fotos e vídeos).<br /> 
          Movida pela produção de vídeo, música e viagens.</p>
      </div>
    </div>
  </div>
</section>