#page-wraper .wrapper {
  position: relative;
  width: 100%;
  margin: 60px auto;
}

.footer {
  background-color: #f7f7f7;

  a { color: #333; }

  .social {
    list-style: none;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      margin: 0 2px;

      a {
        color: #333;
        height: 36px;
        width: 36px;
        display: block;
        font-size: 16px;
        text-align: center;
        line-height: 32px;
        border: 2px solid #333;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
      }
      
      &:hover, a:hover {
        border-color: #c7a674;
        color: #c7a674;
      }
    }

  }
}